<% layout('layouts/boilerplate') %> 

<div class="row">
  <!-- Column 1: Show Hobby -->
    <div class="col-6">
      <div class="card mb-3">
        <img src="<%= hobby.image %>" class="card-img-top" alt="<%= hobby.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= hobby.title %></h5>
          <p class="card-text"><%= hobby.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= hobby.location %></li>
          <li class="list-group-item">Submitted by <%= hobby.author.username %></li>
          <li class="list-group-item">$<%= hobby.price %></li>
        </ul>

        <% if(currentUser && hobby.author.equals(currentUser._id)) {%> 
        <div class="card-body">
          <a class="card-link btn btn-info" href="/hobbies/<%= hobby._id %>/edit">Edit Hobby Spot </a>
          <form class='d-inline' action="/hobbies/<%= hobby._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete Hobby Spot</button>
          </form>
        </div>
        <% } %> 
        <div class="card-footer text-muted">
          <a href="/hobbies">Back to Hobbies List</a>
        </div>
      </div>
    </div>
    <!-- End Column 1: Show Hobby -->

    <!-- Column 2: Reviews -->
    <div class="col-6">
      <% if(currentUser) { %> 
        <h2>Leave a Review</h2>
        <form action="/hobbies/<%= hobby._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
              <label for="rating" class="form-label">Rating</label>
              <input type="range" min='1' max='5' class="form-range" name="review[rating]">
            </div>
            <div class="mb-3">
              <label class="form-label" for="body">Review</label>
              <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
      <% } %> 

      <% for(let review of hobby.reviews) { %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Rating: <%= review.rating %> </h5>
            <h6 class="card-subtitle mb-2 text-muted">By <%= review.author.username %> </h6>
            <p class="card-text">Review: <%= review.body %> </p>
            <% if(currentUser && review.author.equals(currentUser._id)) { %> 
              <form action="/hobbies/<%= hobby._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
            <% } %> 
          </div>
        </div>
      <% } %>  
    </div>
    <!-- End Column 2: Reviews -->
</div>